
h2{
    font-size: 2.5rem;
    padding: 1.25rem 0;
}

.btn{
    font-family: 'Montserrat', sans-serif;
    background-color: #efefef;
    color:#232323;
    border: #efefef;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    border-radius: 1.2rem;
    padding: 0.6rem 3rem;
}

.btn:hover{
    transition: all .3s ease-in-out;
    background-color: #232323;
    color:#efefef;
    border: 0.063rem solid #efefef;
}

div a{
    text-decoration: none;
}

#email-login:focus, #password-login:focus, #lembrar:focus, #nome:focus, #sobrenome:focus, #dn:focus, #cel:focus, #email:focus, #endereco:focus, #num:focus, #bairro:focus, #complemento:focus, #cidade:focus, #estado:focus, #senha:focus, #confirma-senha:focus, #gridCheck:focus{
    box-shadow: none;
    border: 0 none;
    outline: 0;
} 

#login-esquecer, #cadastrar{
    color:white;
}

